<body>
    <div class="image">
    </div>

    <div class="side">
        <div class="logo"></div>
            <div class="modal-dialog">
              <div class="modal-content">
                <p id="title">Login to your account</p>
                <div class="modal-body">
                  <div class="mb-3">
                    <label class="form-label">Code from mail</label>
                    <input class="form-control" placeholder="Code" [(ngModel)]="code">
                  </div>
          
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="add" (click)="otkljucaj()">Continue</button>
                </div>
            </div>
        </div> 
    </div>
</body>