<head>
   <!-- icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- bootstrap  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body  *ngIf="loginInfo().isLogiran && loginInfo().autentifikacijaToken.twoFJelOtkljucano">
 <div class="menu">
  <div class="nav">
   <div class="navitem" routerLink="/putanja-overview">
      <div class="icon">
        <i class="fa fa-file-text" aria-hidden="true" style="margin-top: 10px"></i>
      </div>    
      <p class="navp">OVERVIEW</p>
    </div>

    <div class="navitem" routerLink="/putanja-proizvodi">
      <div class="icon">
        <i class="fa fa-cutlery" aria-hidden="true" style="margin-top: 10px"></i>
      </div>
      <p class="navp">MENU</p>
    </div>

    <div class="navitem" routerLink="/putanja-narudzbe">
      <div class="icon">
        <i class="fa fa-shopping-cart" aria-hidden="true" style="margin-top: 10px;"></i>
      </div>
      <p class="navp">ORDERS</p>
    </div>

     <div class="navitem" routerLink="/putanja-rezervacije">
       <div class="icon">
         <i class="fa fa-calendar" aria-hidden="true" style="margin-top: 10px"></i>
       </div>
       <p class="navp">RESERVATIONS</p>
     </div>

     <div class="navitem" routerLink="/putanja-kuponi">
       <div class="icon">
       <i class="fa fa-ticket" aria-hidden="true" style="margin-top: 10px"></i>
       </div>
       <p class="navp">COUPONS</p>
     </div>

     <div class="navitem" routerLink="/putanja-pitanja">
      <div class="icon">
      <i class="fa fa-question-circle" aria-hidden="true"  style="margin-top: 10px"></i>
      </div>
      <p class="navp">FAQ</p>
    </div>

    <div class="navitem" routerLink="/putanja-uplate">
       <div class="icon">
         <i class="fa fa-money" aria-hidden="true"  style="margin-top: 10px" ></i>
       </div>
       <p class="navp">PAYMENT</p>
     </div>

   </div>
  </div>
  <div class="main">
    <app-navbar></app-navbar>
    <div class="content">
      <div class="mainpart">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>

<div *ngIf="!loginInfo().isLogiran && isRegistracija==false && !loginInfo().autentifikacijaToken.twoFJelOtkljucano">
<app-login (sendprop)="recprop()"></app-login>
</div>

<div *ngIf="!loginInfo().isLogiran && isRegistracija==true && !loginInfo().autentifikacijaToken.twoFJelOtkljucano">
  <app-registracija (sendprop)="recpropreg()"></app-registracija>
</div>

<div *ngIf="loginInfo().isLogiran && !loginInfo().autentifikacijaToken.twoFJelOtkljucano">
  <app-twof></app-twof>
</div>